* {  
    box-sizing: border-box;
    /* margin: 0 !important; */
}

/* Web Fonts ------*/

@font-face {
    font-family: 'BoxedSemibold';
    src: url('../fonts/BoxedSemibold.eot');
    src: url('../fonts/BoxedSemibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BoxedSemibold.woff') format('woff'),
    url('../fonts/BoxedSemibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BoxedThin';
    src: url('../fonts/BoxedThin.eot');
    src: url('../fonts/BoxedThin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BoxedThin.woff') format('woff'),
    url('../fonts/BoxedThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { 
    font-family: 'BoxedLight';
    src: url('../fonts/BoxedLight.eot');
    src: url('../fonts/BoxedLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BoxedLight.woff') format('woff'),
    url('../fonts/BoxedLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Basic Styles ------*/

body {
    min-width: 320px;
    overflow-x: hidden;
}

h1,
li {
    font-family: "BoxedThin";

}

h2 {
    font-family: 'Oswald', sans-serif;
    color: #646464;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
}

body,
#main-pic,
#main-topic,
ul,
ul h2,
.main-wrapper,
footer {
    margin: 0 auto;
}


/* Flexbox ------*/

.header-row-1,
.header-row-2,
#title,
nav,
ul,
ul a,
.main-wrapper,
.footer-nav {
    display: flex;
}

li,
.header-row-1,
.header-row-2,
nav,
ul {
    flex-direction: column;
}

/* link Styles ------*/

nav a {
    padding: 30px;
}

li {
    list-style-type: none;
}

a:link, a:visited {
    background-color: #ffffff;
    color: rgb(75, 75, 75);
    text-align: center;
    text-decoration: none;
}
  
a:hover, a:active {
    color: rgb(0, 204, 255 );
}

p {
    font-size: 18pt;
}

#portfolio,
#contact {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    width: 100%;
}

#portfolio {
    font-size: 24pt;
}

#contact {
    font-size: 20pt;
}


/* Header Styles ------*/

.header-row-1 {
    flex: 1;
    margin-bottom: 40px;
}

.header-row-2 {
    margin-bottom: 40px;
    width: 100%;
}

#title {
    justify-content: center;
    margin: 40px 0;
    font-family: "BoxedSemibold";
    font-size: 28pt;
    height: 40px;
    width: 100%;
}

header {
    width: 100vw;
}


#main-topic {
    width: 80%;
}

/* Navigation ------*/


nav {
    background-color: #f5f4f4;
}

nav h2 {
    width: 90%;
}


ul {
    width: 90vw;
    padding: 0;
}

ul a{
    justify-content: center;
    margin: 10px 0;
}

li {
background-color: #ffffff;
margin: 5px;
}


/* Body ------*/

.main-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 40px;
}

.main-wrapper p {
    width: 100vw;
    font-family: 'Oswald', sans-serif;
    color: #646464;
}

.column img {
    width: 80%;
    flex: 1;   
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

/* Footer ------*/

footer {
    text-align: center;
    background-color: #e7e3e3;
    width: 100vw;
    padding-top: 10px;
    font-family: 'Oswald', sans-serif;
}

footer p {
    width: 90%;
    margin: 20px auto;
}

#email {
    background-color: #e7e3e3;
    font-family: 'Oswald', sans-serif;
    font-size: 18pt;
    color: rgb(0, 0, 0);
}

hr {
    height: 1px;
    width: 90%;
}

.footer-contact-info {
    padding-bottom: 20px;
}

.footer-nav {
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    padding: 0 5%;

}

.footer-nav a{
    background-color: #e7e3e3;
}

.footer-nav2 {
    display: none;
}

/* Media Queries ------*/

@media screen and (min-width: 768px) {
    
    nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

    ul {
        justify-content: center;
        flex-direction: row;
        flex: 1;
        width: 100%;
    }

    li {
        padding: 0 10px;
        flex-grow: 0;
        margin: 0;
    }

    #title {

        margin-bottom: 0;
    }
    li,
    a,
    a:link, 
    a:visited {
        background-color: #ffffff00;
    }

    .header-row-2 {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        padding: 0 5%;
    }

    #main-pic{
        order: 2;
        width: 50%;
    }

    #main-topic {
        width: 50%;
        text-align: left;
        padding-right: 5%;

    }

    .main-wrapper {
        padding: 40px 2%;
    }

    .column {
        width: 50%;
    }

    .column p {
        width: 100%;
        padding: 0 30px;
    }
    .footer-nav {
        display: none;
    }

    .footer-nav2,
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    #footer-name {
        justify-content: flex-start; 
        white-space: nowrap;
        padding-left: 5%;
        padding-right: 0;
    }
    .footer-navigation{
        justify-content: flex-end; 
        padding-right: 5%;
    }
    .footer-navigation li{
        padding-left: 2em;
    }
}

@media screen and (min-width: 1024px) {
    
    .column {
        width: 33%;
    }
    .page-wrapper,
    header,
    footer{
        max-width: 1400px;
        margin: 0 auto;
    }
}