


* {  
    box-sizing: border-box;
    /* margin: 0 !important; */
}

/* Web Fonts ------*/

@font-face {
    font-family: 'BoxedSemibold';
    src: url('bBoxedSemibold.eot');
    src: url('BoxedSemibold.eot?#iefix') format('embedded-opentype'),
    url('BoxedSemibold.woff') format('woff'),
    url('BoxedSemibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BoxedThin';
    src: url('boxedThin.eot');
    src: url('boxedThin.eot?#iefix') format('embedded-opentype'),
    url('boxedThin.woff') format('woff'),
    url('boxedThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { 
    font-family: 'BoxedLight';
    src: url('BoxedLight.eot');
    src: url('BoxedLight.eot?#iefix') format('embedded-opentype'),
    url('BoxedLight.woff') format('woff'),
    url('BoxedLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Basic Styles ------*/

body {
    margin: 0 auto;
    min-width: 320px;
    overflow-x: hidden;
}

h1,
li {
    font-family: "BoxedThin";

}

h2 {
    font-family: "BoxedLight" ;
    color: #646464;
    text-align: center;
}



/* link Styles ------*/

nav a {
    padding: 30px;
}

li {
    flex-direction: column;
    list-style-type: none;
}

a:link, a:visited {
    background-color: #ffffff;
    color: rgb(75, 75, 75);
    text-align: center;
    text-decoration: none;
}
  
a:hover, a:active {
    color: rgb(0, 204, 255 );
}

p {
    font-size: 18pt;
}

#portfolio,
#contact {
    text-align: center;
    font-family: "BoxedSemibold";
    font-size: 18pt;
    width: 100%;
}

/* Header Styles ------*/

.header-row-1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 40px;
}

.header-row-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

}

#title {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    font-family: "BoxedSemibold";
    font-size: 28pt;
    height: 40px;
    width: 100%;
}

header {
    width: 100vw;
    margin-top: 40px;
}

#main-pic {
    margin: 0 auto;
}

#main-topic {
    width: 80%;
    margin: 0 auto;
}

/* Navigation ------*/


nav {
    display: flex;
    flex-direction: column;
    background-color: #f5f4f4;
}

nav h2 {
    width: 90%;
}


ul {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    padding: 0;
}

ul a{
    justify-content: center;
    display: flex;
    margin: 10px 0;
}

ul h2 {
    margin: 0 auto;
}

li {
background-color: #ffffff;
margin: 5px;
}


/* Body ------*/

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
}

.main-wrapper p {
    width: 100vw;
    font-family: "BoxedLight" ;
    color: #646464;
}

.column img {
    width: 80%;
    flex: 1;   
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

/* Footer ------*/

footer {
    text-align: center;
    margin: 0 auto;
    background-color: #e7e3e3;
    width: 100vw;
    padding-top: 10px;
    font-family: "BoxedLight";
}

footer p {
    width: 90%;
    margin: 20px auto;
}

#email {
    background-color: #e7e3e3;
    font-family: "BoxedLight";
    font-size: 18pt;
    color: rgb(0, 0, 0);
}

hr {
    height: 1px;
    width: 80%;
}

.contact-info {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    margin: 0 30px 5px 30px;
}

.contact-info a{
    background-color: #e7e3e3;
}

/* Media Queries ------*/

@media screen and (min-width: 768px) {
    
    nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

    ul {
        justify-content: space-evenly;
        flex-direction: row;
        flex: 1;
        padding: 0 12em;
        width: 100%;
    }

    li {
        padding: 0 10px;
        flex-grow: 0;
        margin: 0;
    }

    #title {

        margin-bottom: 0;
    }
    li,
    a,
    a:link, 
    a:visited {
        background-color: #ffffff00;
    }

    .header-row-2 {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
    }

    #main-pic{
        order: 2;
        width: 50%;
        padding: 0 20px 0 40px;
    }

    #main-topic {
        width: 50%;
        padding: 0 20px 0 40px;
        text-align: left;

    }

    .column {
        width: 50%;
    }

    .column p {
        width: 100%;
        padding: 0 30px;
    }
    
}

@media screen and (min-width: 1024px) {
    
    .column {
        width: 33%;
    }
    
}