
* {
        box-sizing: border-box;
}

/* Web Fonts ------*/

@font-face {
    font-family: 'BoxedSemibold';
    src: url('bBoxedSemibold.eot');
    src: url('BoxedSemibold.eot?#iefix') format('embedded-opentype'),
    url('BoxedSemibold.woff') format('woff'),
    url('BoxedSemibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BoxedThin';
    src: url('boxedThin.eot');
    src: url('boxedThin.eot?#iefix') format('embedded-opentype'),
    url('boxedThin.woff') format('woff'),
    url('boxedThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { 
    font-family: 'BoxedLight';
    src: url('BoxedLight.eot');
    src: url('BoxedLight.eot?#iefix') format('embedded-opentype'),
    url('BoxedLight.woff') format('woff'),
    url('BoxedLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Basic Styles ------*/

body {
    margin: 0;
    min-width: 320px;
}

.page-wrapper {
    background-color: #ececec;
    margin: 0 auto;
}

h1,
li {
    font-family: "BoxedThin";

}

h2 {
    font-family: "BoxedLight" ;
    color: #646464;
    text-align: center;
}


/* link Styles ------*/

nav a {
    padding: 30px;
}

li {
    flex-direction: column;
    list-style-type: none;
}

a:link, a:visited {
    background-color: #ffffff;
    color: rgb(75, 75, 75);
    text-align: center;
    text-decoration: none;
}
  
a:hover, a:active {
    color: rgb(0, 204, 255 );
}

p {
    font-size: 18pt;
}

#portfolio,
#contact {
    text-align: center;
    font-family: "BoxedSemibold";
    font-size: 18pt;
    width: 100%;
}

/* Header Styles ------*/

#title {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    font-family: "BoxedSemibold";
    font-size: 28pt;
    height: 40px;
    width: 100%;
}

header {
    width: 90vw;
    margin: 0 auto;
}

#main-pic {
    margin: 40px 0 20px 0;
}

/* Navigation ------*/


nav {
    align-items: center;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    background-color: #f5f4f4;
}

nav h2 {
    width: 90%;
}


ul {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0;
    padding: 0
}

ul a{
    justify-content: center;
    display: flex;
    margin: 10px 0;
}

ul h2 {
    margin: 0 auto;
}

li {
background-color: #ffffff;
margin: 5px;
}


/* Body ------*/

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    width: 87vw;
    margin: 0 auto;
    text-align: center;
}

.main-wrapper p {
    width: 90%;
    font-family: "BoxedLight" ;
    color: #646464;
}

img {
    width: 80%;
    flex: 1;   
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

/* Footer ------*/

footer {
    text-align: center;
    margin: 0 auto;
    background-color: #e7e3e3;
    width: 90%;
    padding-top: 10px;
    font-family: "BoxedLight";
}

#email {
    background-color: #e7e3e3;
    font-family: "BoxedLight";
    font-size: 18pt;
}

hr {
    height: 4px;
    width: 80%;
}

.contact-info {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    margin: 0 10px;
}

.contact-info a{
    background-color: #e7e3e3;
}

/* Media Queries ------*/



/* Clearfix ------*/
.box:before, .box:after { content: ''; display: table; clear: both; }